.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #131314;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #e3e3e3;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s,
    box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
  border-color: #8e918f;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #13131461;
  border-color: #8e918f1f;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #e3e3e31f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: white;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: white;
  opacity: 8%;
}

/* ─── Profile Sidebar ────────────────────────────────────────────────────────── */
.profile-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 280px;
  position: fixed;
  inset: 0 0 0 auto; /* right side */
  z-index: 2;
  transform: translateX(100%);
  overflow: auto;
  gap: 1.25rem;
  border-radius: 10px 0 0 10px;
  background-color: #0f1224;
  transition: all 0.3s ease;
}

.profile-side.open {
  transform: translateX(0);
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  padding: 6px 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(15, 18, 36, 0.2);
}

.signed-in-container,
.signed-out-container {
  padding: 0 10px 10px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.avatar {
  width: 100%;
  height: 100%;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-wrapper.big {
  width: 120px;
  height: 120px;
  background-color: aliceblue;
  padding: 6px;
}
.avatar-wrapper.small {
  height: 24px;
  width: 24px;
  margin: auto auto 4px auto;
  padding: 2px;
  border: 1px solid rgba(255, 255, 255, 0.43);
  background-image: linear-gradient(
    45deg,
    rgba(106, 0, 255, 0.446),
    rgba(0, 200, 255, 0.361)
  );
}
.profile-button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #f7c59e;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.profile-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.screen-title {
  margin-right: auto;
}

.list-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid var(--color-white-02);
}

.block-title {
  font-size: 1rem;
}

.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.username,
.list-row span {
  font-size: 0.8rem;
  color: var(--color-light);
  opacity: 0.6;
}

.logout-btn {
  margin: 0;
}

.contact-btn {
  margin: 0;
}
