.home {
  display: flex;
  flex-direction: column;
}

.home-bg {
  position: fixed;
  background-image: url("/assets/bg.png");
  background-repeat: no-repeat;
  background-size: 105vw 105vh;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.home-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--spacing-lg) var(--spacing);
}

.hero__subtitle {
  color: var(--color-grey);
}

.hero__image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
  margin-top: var(--spacing-md);
}
.hero-video-container {
  width: 100%;
  max-width: 800px;
  margin-top: var(--spacing-md);
}
.hero-video {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.features {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.social {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: var(--spacing);
  margin-top: var(--spacing);
}

.social__icon {
  width: 40px;
  height: 40px;
  background: var(--color-secondary);
  border-radius: 50%;
}

.image-placeholder {
  background: var(--color-secondary);
}
