/* Live Shopping Desktop CSS */

@media (any-hover: hover) {
  #clicked-list .product-card {
    flex: 0 0 200px;
  }

  #liked-list {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  #clicked-list,
  #liked-list {
    padding: 10px 30px;
  }

  .product-img-title {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .product-image-container.clicked {
    height: 200px;
  }

  .product-image-container.liked {
    height: 160px;
  }

  .product-cta:hover {
    transform: scale(1.1);
  }

  /* Product card details displayed on hover devices */
  .item-container.show-details {
    height: auto;
  }

  .item-container.show-details .card-details {
    display: flex;
  }

  .item-container {
    width: fit-content;
    height: 250px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transform: scale(1);
    transform-origin: calc(100% - 125px) 50%;
  }
  .item-container.focused {
    box-shadow: none;
    transform: scale(1.1);
  }
  .live-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 250px;
    height: 250px;
    order: 99999;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(0.95);
    transition: transform 0.3s ease;
  }
  .live-image-container:hover {
    transform: scale(1);
  }
  #absolute-container {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 280px;
    min-width: 320px;
    order: 2;
    width: 100%;
    padding: 20px;
  }

  #itemContent {
    inset: 12% 12% auto 12%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .liveshopping-container {
    flex-direction: row;
    justify-content: center;
  }

  .product-buttons-container {
    margin-top: 0;
    position: relative;
    left: auto;
    right: auto;
    backdrop-filter: none;
    padding: 0;
    align-items: center;
    height: 50px;
  }
  .product-buttons-container a {
    transition: transform 0.3s ease;
  }
  .product-buttons-container a:hover {
    transform: scale(1.05);
  }

  .channel-logo {
    position: absolute;
    margin: 10px;
  }

  .live-details {
    justify-content: center;
    max-height: none;
    width: 400px;
    height: 100%;
    padding: 20px;
    margin: 0;
    background-color: var(--color-white-01);
    transition: all 0.5s ease;
    gap: 10px;
  }
}
