/* Live Shopping Desktop CSS */

@media (hover: hover) and (max-width: 860px) {
  #itemContent {
    gap: 10px;
  }
  .live-image-container {
    width: 200px;
    height: 200px;
  }

  .item-container {
    gap: 10px;
    transform: scale(0.95);
  }

  .item-container.focused {
    transform: scale(1);
  }
  .live-details {
    padding: 12px;
    width: 300px;
  }
}
